# Ignore node dependency directories
node_modules/

# Ignore log files and databases
*.log
*.sql
*.sqlite

# Ignore Mac/OSX file
.DS_Store

# Ignore lock files
*.lock

# Ignore zip files
*.zip

# Ignore env files
.env
.env.development
