* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// BOTÕES
.btn-primario{
  background-color: #AB8554;
  padding: 6px 20px;
}
.subtitulo{
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 700;
}

.btn-lermais{
  background-color: #505050;
  border-radius: 4px;
  backdrop-filter: blur(40px);
  padding: 6px 20px;
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
}

.parceiros{
  margin: 0 60px;
  border: 1px solid gold;

}





a {
  text-decoration: none;
}

ul {
  list-style: none;
}


body {
  background-color: #242424;
  perspective: 400px;
}

.container {
  border: 1px solid red;
  max-width: 1420px;
  margin: 0 auto;
  padding: 0px 20px;
}


.col-100 {
  padding: 60px 0;
  background-color: #ffffff;
}

.hidden{
  display: none;
}


.sessao {
  padding: 120px 0;
}


/* GRIDS */
.grid-1 {
  /* border: 1px solid greenyellow; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.grid-2 {
  border: 1px solid greenyellow;
  display: grid;
  grid-template-columns: 710px 710px;
  gap: 40px;
}


.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.grid-7{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 40px;
}

.grid-8{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 40px;
}







@media screen and (max-width: 1px) {
  .container {
    max-width: 100%;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .grid-3 {
    grid-template-columns: 2fr;
  }

  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .col-100 {
    max-width: 100%;
  }
}

/*  */
@media screen and (max-width:600px) {
  h1 {
    text-align: center;
    font-size: 28px !important;
  }

  p {
    text-align: center;
    font-size: 14px !important;
  }

  h2,
  h3 {
    text-align: center;
    font-size: 24px !important;
  }

}
