@font-face {
  font-family: "PP Pier Sans";
  src: url("../fontes/PPPierSans-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PP Pier Sans";
  src: url("../fontes/PPPierSans-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "PP Pier Sans";
  src: url("../fontes/PPPierSans-Italic.otf") format("opentype");
  font-style: italic;
}
@font-face {
  font-family: "PP Pier Sans";
  src: url("../fontes/PPPierSans-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "PP Pier Sans";
  src: url("../fontes/PPPierSans-LightItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "PP Pier Sans";
  src: url("../fontes/PPPierSans-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}


